<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<appSettings>
		<add key="spookyPath" value="C:\Projects\Trunk\Servers\Store\App\Batches\Utils\R10WebClient.exe"/>
		<add key="devToolPath" value="C:\Projects\Trunk\Servers\Store\App\Batches\StoreDeveloper\Retalix.Developer.exe"/>
	<add key="migrationDbPath" value="C:\Projects\Trunk\Servers\Store\DB\Gui.cmd"/>
	<add key="officePath" value="http://localhost/Office/"/>	
	</appSettings>
</configuration>