<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="spookyPath" value="C:\Projects\Trunk\Servers\Store\App\Batches\Utils\R10WebClient.exe"/>
		<add key="devToolPath" value="C:\Projects\Trunk\Servers\Store\App\Batches\StoreDeveloper\Retalix.Developer.exe"/>
		<add key="migrationDbPath" value="C:\Projects\Trunk\Servers\Store\DB\Gui.cmd"/>
		<add key="officePath" value="http://localhost/Office/"/>
		<add key="PulseSecurePath" value="C:\Program Files (x86)\Common Files\Pulse Secure\Integration\pulselauncher.exe"/>
		<add key="Username" value="YOUR_USERNAME"/>
		<add key="Password" value="YOUR_PASSWORD"/>
		<add key="migrationDbPath" value="C:\Projects\Trunk\Servers\Store\DB\Gui.cmd"/>
		<add key="officePath" value="http://localhost/Office/"/>
		<add key="tfsPath" value="http://susday2582:8080/tfs/"/>
	</appSettings>
</configuration>